restapi/vendor/
restapi/logs/*
!/restapi/logs/README.md
restapi/coverage/
*restapi/.php_cs.cache
restapi/nbproject/
restapi/build/
restapi/cache/
restapi/.scannerwork/
.idea
restapi/.env
restapi/.phpunit.result.cache
